$width-page: 1280px;

/* шрифт */
$font-family: 'Fira Sans', 'Arial', sans-serif;

$font-size: 16px;
$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 18px;

$line-height: 16px;
$line-height-h1: 24px;
$line-height-h2: 20px;
$line-height-h3: 18px;



/* цвет на странице */
$color-white: #fff;
$color-gray: #ccc;
$color-light-gray: #dcd6d2;