@import "normalize";
@import "variables";


@font-face{

    font-family: "CuprumBold";
    src: url("../fonts/Cuprum-Bold.ttf");
    font-weight: normal;
    font-style: normal;

}

@font-face{
     
    font-family: "CuprumRegular";
    src: url("../fonts/Cuprum-Regular.ttf");
    font-weight: normal;
    font-style: normal;

}

@font-face{

    font-family: "CuprumItalic";
    src: url("../fonts/Cuprum-Italic.ttf");
    font-weight: normal;
    font-style: normal;

}

body{

    width: $width-page;
    margin: 0 auto;

}

.clearfix:after{

    display: table;
    content: '';
    clear: both;

}

.main-header{

    margin-bottom: 20px;

    &__layout{

        padding: 0 40px;

    }

    &__title{

        padding: 15px 0;
        background-color: $color-gray;

    }

    & h1{


        float: left;
        font: normal #{$font-size-h1} / #{$line-height-h1} $font-family-cuprumregular;
        color: $color-white;
        padding: 10px 0;
        padding-left: 10px;
        margin:0;

    }

    &__contacts{

        float: right;

        font: normal #{$line-height} / #{$line-height} $font-family-cuprumregular;
        color: $color-white;
        margin: 0;
        padding-right: 120px;

        p{

            padding: 0;
            margin: 0;

        }

        a{

            font: normal #{$line-height} / #{$line-height} $font-family-cuprumregular;
            color: $color-white;

        }

    }

    img{

        display: block;
        width: 1200px;
        height: 275px;

    }

}

.main{

    &__layout{

        padding: 30px 40px 0px;
    }

    & h2{
        font: normal #{$font-size-h2}/#{$line-height-h2} $font-family-cuprumregular;

        margin: 0 auto;
    }
}

.portfolio{

    padding: 0 10px;
    text-align: center;
    margin-bottom: 20px;

    &__header{

        font: normal #{$font-size-h2}/#{$line-height-h2} $font-family;
        margin: 0;
        padding-bottom: 20px;
        text-align: center;

    }

    &__work{
        float:left;
        margin-right: 15px;
        margin-bottom: 15px;

        height: 325px;
        box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
        overflow: hidden;

        h3{
            text-align: center;
            font: normal #{$font-size-h3}/#{$line-height-h3} $font-family;
        }

        ul{
            padding:0;
            text-align: center;
            list-style-type: none;
        }

        li {
            display: inline-block;
            vertical-align: top;

        }

        li:last-of-type{
            margin-right: 0;
        }

    }


}

.sertificate{

    a{
      padding-left: 40px;
    }


    &__header{

        font: normal #{$font-size-h2}/#{$line-height-h2} $font-family;
        margin: 0;
        padding-bottom: 20px;
        text-align: center;

    }

        &__content{

            list-style-type: none;
            margin: 0;
            padding: 40px 0;
            text-align: center;


            li{

                display: inline-block;
                vertical-align: top;
                margin-right: 40px;

            }

            li:hover{

                cursor: pointer;

            }

        }

        &__preview{

            display: none;
            position: absolute;


            background-color: white;
            text-align: center;

            border: 1px solid black;

            top: 50px;
            left: 50%;

            transform: translateX(-50%);

        }

        &__layout{

            padding: 50px;

        }

        &__close:hover{

            cursor: pointer;

        }

         &__close::before{


             position: absolute;
             top:10px;
             right:10px;

             display: inline-block;
             vertical-align: middle;
             text-align: center;
             width: 30px;
             height: 30px;
             content:'X';
             font-size: 26px;
             border: 1px solid black;
             border-radius: 50%;
             -moz-border-radius: 50%;
             -webkit-border-raduis: 50%;

             padding: 0;
             margin: 0;


         }

    }

.main-footer{

    text-align: center;
    font: normal #{$line-height} / #{$line-height} $font-family-cuprumregular;
    padding: 15px 0;
    border-top: 1px solid $color-black;

    &__layout{

        padding: 0 40px;

    }

}
