$width-page: 1280px;

/* шрифт */
$font-family: 'Fira Sans', 'Arial', sans-serif;

/* Размеры элементов */

$width-body: 1200px;
$width-main-layout: 940px;

/* шрифты */

$font-family-cuprumbold: "CuprumBold", Arial, sans-serif;
$font-family-cuprumregular: "CuprumRegular", Arial, sans-serif;
$font-family-cuprumitalic: "CuprumItalic", Arial, sans-serif;
$font-family-ptsansregular: "PTSansRegular", Arial, sans-serif;
$font-family-ptsansbold: "PTSansBold", Arial, sans-serif;
$font-family-myriadproregular: "MyriadProRegular", Arial, sans-serif;

$font-size: 18px;

$font-size-h1: 30px;
$font-size-h2: 24px; 
$font-size-h3: 20px;


$line-height-h1: 48px;
$line-height-h2: 20px;
$line-height-h3: 18px;

$line-height: 24px;

$color-white: #ffffff;
$color-gray: #666666;
$color-light-gray: #dcd6d2;
$color-black: #000000;
