<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    title Быков Денис Станиславович
    meta(name="Description" content="Профессиональная фронтенд разработка, верстка сайтов, посадочных страниц")
    meta(name="Keywords" content="Верстка сайта, разработка сайтов, веб сайт, web сайт, frontend,  лендинг пейдж, landing page")
    title Профессиональная фронтенд разработка, верстка сайтов, посадочных страниц, фронтенд разработка
    link(rel=icon href="favicon.png" sizes="16x16" type="image/png")
    link(rel="stylesheet" href="css/style.min.css")
  body
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
          try {
            w.yaCounter34411575 = new Ya.Metrika({
              id: 34411575,
              clickmap: true,
              trackLinks: true,
              accurateTrackBounce: true,
              webvisor: true,
              trackHash: true
            });
          } catch (e) {}
        });
        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () {
              n.parentNode.insertBefore(s, n);
          };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else {
          f();
        }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/34411575', style='position:absolute; left:-9999px;', alt='')
      // /Yandex.Metrika counter
      header.main-header.clearfix
        .main-header__layout
          .main-header__title.clearfix
            h1 Быков Денис Cтаниславович (frontend разработчик)
            .main-header__contacts
              p.
                Контакты
                <br>
                email: <a href="mailto:ya.bykovdenis@ya.ru"> ya.bykovdenis@ya.ru</a>
                <br>
                github: github.com/BykovDenis
            img(src="img/img_header.jpg"  width="1200" height="275" alt="Портфолио HTML CSS JAVASCRIPT React")
    main.main
      .main__layout.clearfix
        section.sertificate.clearfix
          h2.sertificate__header Сертификаты
          ul.sertificate__content
            li
              img(src="img/htmlacademy_javascript_preview.jpg" height="300" id="img_htmlacademy_js" alt="Базовый курс JavaScript")
            li
              img(src="img/htmlacademy_adv_preview.jpg" height="300" id="img_htmlacademy_adv" alt="Продвинутый курс HTML CSS")
            li
              img(src="img/htmlacademy_preview.jpg" height="300" id="img_htmlacademy" alt="Базовый курс HTML CSS")
          ul.sertificate__content
            li
              img(src="img/php_preview.jpg" width="300" id="img_php")
            li
              img(src="img/javascript_preview.jpg" width="300" id="img_javascript")
          .sertificate__preview
            .sertificate__layout
            i.sertificate__close(id="sertificate__close")
        section.portfolio.clearfix
          h2.portfolio__header Верстка макетов
          .portfolio__work
            h3 Pink (адаптивный)
            ul
              li
                a(href="http://bykovdenis.info/pink/index.html" target="_blank")
                  img(src="img/pink_index.jpg" width="280" alt="Главная страница")
          .portfolio__work
            h3 Sedona
            ul
              li
                a(href="http://bykovdenis.info/sedona/index.html" target="_blank")
                  img(src="img/sedona_index.jpg" width="280" alt="Главная страница")
              li
                a(href="http://bykovdenis.info/sedona/inner.html"  target="_blank")
                  img(src="img/sedona_inner.jpg" width="280" alt="Страница каталога")
          .portfolio__work
            h3 Flat shoes
            ul
              li
                a(href="http://bykovdenis.info/flat_shoes/index.html" target="_blank")
                  img(src="img/flat_shoes.jpg" width="280" alt="Главная страница")
          .portfolio__work
            h3 Modern look
            ul
              li
                a(href="http://bykovdenis.info/modern_look/index.html" target="_blank")
                  img(src="img/modern_look_index.jpg" width="280"  alt="Главная страница")
          .portfolio__work
            h3 Technomart
            ul
              li
                a(href="http://bykovdenis.info/technomart/index.html" target="_blank")
                  img(src="img/technomart_index.jpg" width="280" alt="Главная страница")
              li
                a(href="http://bykovdenis.info/technomart/catalog.html" target="_blank")
                  img(src="img/technomart_catalog.jpg" width="280"  alt="Каталог товаров")
          .portfolio__work
            h3 Jewelery
            ul
              li
                a(href="http://bykovdenis.info/jewelery/index.html" target="_blank")
                  img(src="img/jewelery_index.jpg" width="280" alt="Главная страница")
          .portfolio__work
            h3 BarberShop
            ul
              li
                a(href="http://bykovdenis.info/barbershop/catalog-item.html" target="_blank")
                  img( src="img/barbershop_item.jpg" width="280" height="291" alt="Карточка товара")
              li
                a(href="http://bykovdenis.info/barbershop/catalog-price.html" target="_blank")
                  img(src="img/barbershop_price.jpg" width="280" height="265" alt="Прайс-лист")
    footer.main-footer
      .main-footer__layout
        Москва 2017
    script(src="js/jquery-2.1.4.min.js")
    script(src="js/script.min.js")