.avatar {
  position: relative;
  margin-bottom: 10px;
  width: 300px;
  height: 300px;
  background-color: $color-white;
  border-radius: 50%;
  overflow: hidden;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-60px, -35px);
  }
}