.main-footer {
  min-width: 1300px;
  &__layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 60p;
    width: 1080px;
    height: 100px;
  }
}