<!DOCTYPE html>
html
    head
        meta(charset="utf-8")
        title            
            Быков Денис Станиславович
        link(href="css/normalize.css" rel="stylesheet")
        link(href="css/style.css" rel="stylesheet")
    body
        main.main.clearfix
            div.main__layout.clearfix
                div.main__content
                    h1 Быков Денис Станиславович
                    h2 WEB-мастер
                    div.main__avatar
                        img(src="img/bykov.jpg" width="250")
                div.sertificate
                    h2.sertificate__header Контакты
                    a(href="mailto:ya.bykovdenis@ya.ru" target="_blank") ya.bykovdenis@ya.ru
                    a(href="https://github.com/BykovDenis"  target="_blank") github.com/BykovDenis
                    ul.sertificate__content
                        li
                            img(src="img/htmlacademy_preview.jpg" height="300" id="img_htmlacademy")
                        li
                            img(src="img/php_preview.jpg" width="300" id="img_php")
                            br
                            br
                            br
                            h2.sertificate__header Сертификаты
                        li
                            img(src="img/javascript_preview.jpg" width="300" id="img_javascript")
                    div.sertificate__preview
                        div.sertificate__layout
                        i.sertificate__close(id="sertificate__close")                               
            ul.main__skills
                li 
                    h3 Основные навыки
                -skills = ["HTML5", "CSS3", "GRUNT JADE SASS", "JavaScript/JQuery", "PHP", "MySQL/MSSQL"]
                each skill in skills
                    li #{skill}
            div.main__layout
                section.portfolio
                    h2.portfolio__header Верстка макетов
                    div.portfolio__work
                        h3 Sedona
                        ul
                            li
                                a(href="http://bykovdenis.info/sedona/index.html" target="_blank")
                                    img(src="img/sedona_index.jpg" width="300" height="647" alt="Главная страница")
                            li
                                a(href="http://bykovdenis.info/sedona/inner.html"  target="_blank")
                                    img(src="img/sedona_inner.jpg" width="300" height="219" alt="Страница каталога")
                    div.portfolio__work  
                        h3 Pink
                        ul
                            li
                                a(href="http://bykovdenis.info/pink/index.html" target="_blank")
                                    img(src="img/pink_index.jpg" width="300" height="1055" alt="Главная страница") 
                    div.portfolio__work  
                        h3 Modern look
                        ul
                            li
                                a(href="http://bykovdenis.info/modern_look/index.html" target="_blank")
                                    img(src="img/modern_look_index.jpg" width="300" height="1254" alt="Главная страница")  
                    div.portfolio__work  
                        h3 Jewelery
                        ul
                            li
                                a(href="http://bykovdenis.info/jewelery/index.html" target="_blank")
                                    img(src="img/jewelery_index.jpg" width="300" height="995" alt="Главная страница")
                    div.portfolio__work  
                        h3 BarberShop
                        ul
                            li
                                a(href="http://bykovdenis.info/barbershop/catalog-item.html" target="_blank")
                                    img( src="img/barbershop_item.jpg" width="300" height="291" alt="Карточка товара")
                            li
                                a(href="http://bykovdenis.info/barbershop/catalog-price.html" target="_blank")
                                    img(src="img/barbershop_price.jpg" width="300" height="265" alt="Прайс-лист") 
                    div.portfolio__work  
                        h3 До нового года осталось
                        <?php include("../../action_counter/index.php"); ?>
        script(src="js/jquery-2.1.4.min.js")
        script(src="js/script.js")