html
  head(lang="en")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Portfolio Bykov Denis
    meta(name="Description" content="Professional Frontend Development, page layout, SPA Application, Frontend mentor")
    meta(name="Keywords" content="Professional Frontend Development, page layout, SPA Application, Frontend mentor")
    link(rel=icon href="favicon.png" sizes="16x16" type="image/png")
    <!-- Google Fonts -->
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,600,700,800' rel='stylesheet' type='text/css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  body
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
          try {
            w.yaCounter34411575 = new Ya.Metrika({
              id: 34411575,
              clickmap: true,
              trackLinks: true,
              accurateTrackBounce: true,
              webvisor: true,
              trackHash: true
            });
          } catch (e) {}
        });
        var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () {
              n.parentNode.insertBefore(s, n);
          };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
        } else {
          f();
        }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/34411575', style='position:absolute; left:-9999px;', alt='')
      // /Yandex.Metrika counter
    header.main-header
      .main-header__layout
        nav.main-nav
          a.main-nav__lnk(href="/")
            img(src="img/img-logo.svg" width="92" height="43" alt="bykov Denis FrontEnd developer")
          ul.main-nav__items
            li.main-nav__item
              a.main-nav__lnk(href='#Technologies') Technologies
            li.main-nav__item
              a.main-nav__lnk(href='#Sertificates') Sertificates
            li.main-nav__item
              a.main-nav__lnk(href='#Portfolio') Portfolio
            li.main-nav__item
              a.main-nav__lnk(href='#Experience') Experience
            li.main-nav__item
              a.main-nav__lnk(href='#Contacts') Contacts
        section.main-header__middle
          .main-header__card
            div.avatar
              img.avatar__img(src="img/img-avatar.jpg" alt="Bykov Denis Frontend developer")
            p.avatar-intro
              span Hello,
              |  I am Bykov Denis
              |  FrontEnd Developer
              |  FrontEnd Mentor
          h2.main-header__title Welcome
    main.main
      h1.main__title Bykov Denis Frontend Developer
      section.technologies
        .technologies__layout
          h2.technologies__title Technologies
          a(name="Technologies")
          ul.technologies__items
            li.technologies__item
              a.technologies__lnk(href="//en.wikipedia.org/wiki/JavaScript" target="_blank")
                .technologies__container
                  img.technology__img(src="img/icon-js.png" width="80" height="80" alt="Javascripts standards ES5, ES6, ES7")
                span Javascripts standards ES5, ES6, ES7
            li.technologies__item
              a.technologies__lnk(href="//redux.js.org/" target="_blank")
                .technologies__container
                  img.technology__img(src="img/icon-redux.png" width="80" height="70" alt="Redux is a predictable state container for JavaScript apps.")
                span Redux is a predictable state container for JavaScript apps.
            li.technologies__item
              a.technologies__lnk(href="//webpack.github.io" target="_blank")
                .technologies__container
                  img.technology__img(src="img/icon-webpack.png" width="87" height="92" alt="Webpack 2, 3 module bundler")
                span Webpack 2, 3 module bundler
            li.technologies__item
              a.technologies__lnk(href="//reactjs.org" target="_blank")
                .technologies__container
                  img.technology__img(src="img/icon-react.png" width="80" height="71" alt="React - JavaScript library for building user interfaces")
                span React - JavaScript library for building user interfaces
            li.technologies__item
              a.technologies__lnk(href="//www.w3.org/standards/" target="_blank")
                .technologies__container
                  img.technology__img(src="img/icon-css3.png" width="80" height="78" alt="CSS3 preprocessors SASS, LESS, STYLES")
                span CSS3 preprocessors SASS, LESS, STYLES
            li.technologies__item
              a.technologies__lnk(href="//gulpjs.com/" target="_blank")
                .technologies__container
                  img.technology__img(src="img/icon-gulp.png" width="40" height="84" alt="GULP is a JavaScript build system")
                span GULP is a JavaScript build system
            li.technologies__item
              a.technologies__lnk(href="//github.com" target="_blank")
                .technologies__container
                  img.technology__img(src="img/icon-github.png" width="80" height="68" alt="GIT version control system (github, gitlab)")
                span GIT version control system (github, gitlab)
            li.technologies__item
              a.technologies__lnk(href="//www.w3.org/TR/html5/" target="_blank")
                .technologies__container
                  img.technology__img(src="img/icon-html5.png" width="70" height="80" alt="HTML specification HTML5")
                span HTML specification HTML5
      section.sertificates
        .sertificates__layout
          h2.sertificates__title Sertificates
          a(name="Sertificates")
          ul.sertificates__items
            li.sertificates__item
              a.sertificates__lnk(href="#")
                img.sertificates__img(src="img/img-javascript-retratech.jpg" width="340" height="240" alt="Sertificate Javasript from Retratech")
            li.sertificates__item
              a.sertificates__lnk(href="#")
                img.sertificates__img(src="img/img-javascript.jpg" width="340" height="240" alt="Sertificate Javasript from specialist")
            li.sertificates__item
              a.sertificates__lnk(href="#")
                img.sertificates__img(src="img/img-php.jpg" width="340" height="240" alt="Sertificate PHP from specialist")
            li.sertificates__item
              a.sertificates__lnk(href="#")
                img.sertificates__img(src="img/img-javascript-htmlacademy.jpg" width="260" height="366" alt="Sertificate PHP from htmlacademy")
            li.sertificates__item
              a.sertificates__lnk(href="#")
                img.sertificates__img(src="img/img-htmlcss-advantages.jpg" width="260" height="366" alt="Sertificate HTML CSS Advantages from htmlacademy")
            li.sertificates__item
              a.sertificates__lnk(href="#")
                img.sertificates__img(src="img/img-htmlcss-basic.jpg" width="260" height="366" alt="Sertificate HTML CSS Basic from htmlacademy")
      section.portfolio
        h2.portfolio__title Portfolio
        a(name="Portfolio")
        div#component
      section.experience
        .experience__layout
          h2.experience__title Experience
          a(name="Experience")
          ul.experience__items
            li.experience__item
              a.experience__lnk(href='//rigla.ru')
                img.experience__img(src="img/img-logo-rigla.jpg" width="340" height="163" alt="Rigla drugstore")
            li.experience__item
              a.experience__lnk(href='//openweathermap.org')
                img.experience__img(src="img/img-logo-owm.jpg" width="340" height="163" alt="Rigla drugstore")
            li.experience__item
              a.experience__lnk(href='//rambler-co.ru')
                img.experience__img(src="img/img-logo-rambler.jpg" width="340" height="163" alt="Rabmler&Co")
    footer.main-footer
      a(name="Contacts")
      .main-footer__layout
        .contacts Быков Денис Станиславович email:
          a.contacts__lnk(href="mailto:frontend@bykovdenis.info")  frontend@bykovdenis.info
        .copyright Moscow 2017
        ul.socials
          li.socials__item
            a.socials__lnk(href="https://github.com/BykovDenis")
              i.fa.fa-github( aria-hidden="true")
              | Github
          li.socials__item
            a.socials__lnk(href="https://www.facebook.com/DenisByk0v")
              i.fa.fa-facebook(aria-hidden="true")
              | Facebook
          li.socials__item
            a.socials__lnk(href="https://vk.com/dbykov82")
              i.fa.fa-vk(aria-hidden="true")
              | Vkontakte
          li.socials__item
            a.socials__lnk(href="https://twitter.com/BDenis2")
              i.fa.fa-twitter(aria-hidden="true")
              | Twitter
